* {
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

body {
    background: rgb(238, 174, 202);
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    margin: 0;
    height: 100vh;
}


.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 65%;
    height: 75%;
    margin: auto;
    background: #fff;
    padding: 2rem;
}

iframe {
    width: 95%;
    height: 87%;
}

.toanimation {
    background: rgba(148, 187, 233, 1);
    padding: 1rem;
    margin: 1rem;
}

.back {
    background: rgb(238, 174, 202);
    padding: 1rem;
    margin: 1rem;
    display: inline-block;
    width: 29%;
}

.next {
    background: rgba(148, 187, 233, 1);
    padding: 1rem;
    margin: 1rem;
    margin-left: 0;
    display: inline-block;
    width: 29%;
}